body {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	color: #2C3E50;
	line-height: 1.6em;
}
#sometimes-maybe {
	width: auto;
	margin: 0 auto 0 auto;
	padding: 0 1.5em 1em 1.5em;
}
h1 {
	font-size: 3em;
	font-weight: 400;
	margin: .25em 0 .25em 0;
	line-height: 1.6em;
}
h2 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1em;
	margin: .5em 0 .5em 0;
}
a {
	color: #2980B9;
	text-decoration: none;
}
h1 a, h2 a {
	color: #7F8C8D;
}
h1 a:hover, h2 a, h2 a:hover {
	border-bottom: 1px dotted #7F8C8D;
}
header {
	text-align: center;
	margin-bottom: 2em;
}
nav {
	margin: .25em 0 .25em 0;
}
nav a {
	text-transform: uppercase;
	border-bottom: 1px dotted #2980B9;
}
nav a:hover {
	border-bottom: 1px dotted #2980B9;
}
nav span {
	padding-left: .5em;
	padding-right: .5em;
}
p {
	margin: .5em 0 1.5em 0;
}
p a {
	border-bottom: 1px dotted #2980B9;
}
article {
	margin-bottom: 2em;
}
article time {
	text-transform: uppercase;
	font-size: 0.7em;
}
blockquote {
	margin: 0 0 0 .5em;
	padding: 0 1em 0 1em;
	border-left: 1px #2C3E50 solid;
}
blockquote p {
	margin: .5em 0 .5em 0;
}
blockquote cite:before {
	content: '—';
	font-style: normal;
}

pre, xmp, plaintext, listing, tt, code, kbd, samp {
	font-family: 'Ubuntu Mono', monospace;
	font-size: .9em;
	line-height: 1.4em;
}
pre {
	margin: .5em .8em .5em .8em;
}
div.highlight {
	background-color: #ECF0F1;
	overflow: scroll;
}
@media only screen and (min-width: 620px) {
#sometimes-maybe {
	width: 600px;
}
}