<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=600" />
  <title>Sometimes Maybe &hellip; {{ page.title }}</title>
  <link href="http://feeds.feedburner.com/sometimes-maybe" rel="alternate" title="Sometimes Maybe &hellip;" type="application/atom+xml" />
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/sometimes-maybe.css" />
  <link rel="stylesheet" href="/css/syntax.css" />
</head>
<body>
<div id="sometimes-maybe">
<header>
  <h1><a href="/">{{ site.name }}</a></h1>
  <nav><a href="https://github.com/dlad">Github</a><span class="nav-separator">/</span><a href="https://twitter.com/dipen">Twitter</a><span class="nav-separator">/</span><a href="/about-me.html">Me</a></nav>
</header>
<main>
{{ content }}
</main>
</div>
<script>
</script>
</body>
</html>
